* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Istok Web", sans-serif;
  }
  /*HEADER*/
  .header {
    position: fixed;
    display: flex;
    background-color: #171717;
    width: 100%;
    height: 80px;
    justify-content: center;
    z-index: 100000;
  }
  
  .headerInterno {
    display: flex;
  }
  .logo, .logo img {
    height: 100%;
  }
  
  .material-symbols-outlined:hover , .material-symbols-outlined2:hover  {
    cursor: pointer;
    color: #2cb999;
  }
  
  .material-symbols-outlined {
    margin-top: 5%;
    color: white;
    padding-left: 5px;
    border-left: 1px solid white;
  }
  
  nav {
    height: 100%  ;
    align-items: center;
    height: 100%;
  }
  
  nav ul {
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100%;
  }
  
   nav ul li {
    padding: 20px;
    height: 100%;
    list-style-type: none;
    display: flex;
    align-items: center;
  }
  
   nav li a {
    
    width: 100%;
  
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: none;
    color: white;
  }
  
  li a:hover {
    cursor: pointer;
    color: #2cb999;
  }
  
  li img {
    width: 20px;
    margin-left: 50px;
    border-left: 1px solid white;
    height: 20px;
  }
  
  li img:hover {
    cursor: pointer;
  }
  
  /*HEADER*/
  
  
  
    .texto {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 1300px;
      height: 80px;
      bottom: 100px;
      background-color: black;
      opacity: 0.8;
      position: absolute;
    }
  
  .texto h1 {
      text-transform: uppercase;
      color: white;
  }
  
  
  
  
  
  
  
  
  
  .imagemPrincipal {
    width: 100%;
    height: 700px;
    position: absolute;
  }
  .img img {
    width: 100%;
    height: 700px;
    object-fit: cover;
  }
  
  .imagem img {
    width: 100%;
    height: 700px;
    object-fit: cover;
  }
  .imagem {
    background-size: auto;
    display: flex;
    justify-content: center;
    align-items: end;
    position: relative;
  }
  .fundo{
    width: 100%;
   
    
  }
  
  
  
  .containerCard {
      display: flex;
      justify-content: center;
      width: 100%;
      height: 300px;
      background-color: #efefef;
  }
  .card{
      
      width: 370px;
      margin-top: 30px;
      margin-left: 30px;
      display: flex;
      flex-direction: column;
  }
  
  .card img{
      height: 240px;
      width: 370px;
      
      
  }
  
  .textoCard{
      margin-left: 40px;
      margin-top: 40px;
      width: 305px;
      
      color: white;
      position: absolute;
  }
  
  span {
  
      font-weight: bold;
      display: block;
      font-size:45px;
  }
  
  .textoCard h2 {
      display: block ;
      width: 100%;
      font-size: 35px;
  }
  
  .textoCard p {
      margin-top: 10px;
      font-size: 13px;
  }
  
  .textoCard img {
      width: 50px;
      height: 50px;
      
  
  }
  
  .mapaContainer {
      display: flex;
      margin-top: 30px;
      justify-content: center;
      position: relative;
  }
  
  .mapaContainer img {
      opacity: 0.4;
      display: flex;
      align-items: center;
      height: 300px;
  }
  
  .textoMapa {
      margin-top: 30px;
      width: 1000px;
      display: block;
      position: absolute;
  }
  
  .textoMapa h1 {
      font-weight: bold;
      font-size: 50px;
      text-align: center;
      text-transform: uppercase;
  }
  
  .textoMapa p {
      margin-top: 10px;
      margin-left: 70px;
      margin-right: 70px;
      text-align: center;
      font-size: 13px;
  }
  
  .lista {
      display: flex;
      margin-top: 10px;
  }
  
  .lista ul  {
      /* list-style-image: url(imagens/seta\ 1.png ) ; */
      text-align: center;
      font-size: 15px;
      width: 50%;
      margin: 0px 30px;
      padding: 0px 15px;
  }
  
  
  .lista li {
      padding: 10px;
  }
  .lista ul li a {
      color: gray;
      text-decoration: none;
      font-size: 14px;
  }
  
  #lista2 {
      width: 50%;
      margin: 0px 30px;
      padding: 0px 15px;
  }
  
  .paiCardIcones {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: row;
    margin-top: 30px;
  
  }
  
  .cardIcones {
    width: 270px;
    height:100% ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-left: 50px;
  }
  
  .cardIcones h2{
    margin-top: 10px;
  }
  
  .cardIcones p {
    margin-top: 22px;
    font-size: 12px;
    opacity: 50%;
    line-height: 22px;
  }
  
  .paiCardIcones img {
  width: 70px;
  height: 70px;
  }
  
  .paiCardIcones button{
    width: 90px;
    height: 40px;
    background-color: #2cb999;
    border: none;
    color: white;
    font-weight: bold;
  }
  
  .body img {
    object-fit: cover;
    width: 100%;
    height: 400px;
    opacity: 0.5;
  }
  
  .body {
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    position: relative;
    display: flex;
    text-align: center;
    background-color: black;
  }
  
  .bodyTitulo {
    margin-bottom: 300px;
    font-size: 20px;
    text-transform: uppercase;
    position: absolute;
    color: white;
  }
  
  .date {
    display: flex;
    font-weight: bold;
    align-items: center;
    color: white;
    width: 400px;
  }
  
  .date p {
    margin-left: 10px;
    text-align: left;
    font-size: 13px;
  }
  
  .time {
    font-size: 50px;
    margin-right: 10px;
  }
  
  .bodyTexto {
    font-size: 20px;
  }
  
  .fileiraTime {
    justify-content: center;
    color: white;
    width: 100%;
    height: 150px;
    position: absolute;
    display: flex;
    z-index: +6;
  }
  
  /* .container {
    width: 100%;
    height: 100%;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: ce;
  }
  
  .titulo {
    width: 100%;
    text-align: center;
  }
  
  .titulo h3 {
    text-transform: uppercase;
    font-size: 48px;
  }
  
  .titulo p {
    color:#757474;
    line-height: 30px;
  }
  
  .titulo hr {
    width: 25%;
    margin: auto;
  }
  
  .containerVideo {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: wheat;
  }
  
  .textoVideo {
    width: 15%;
    height: 100%;
    text-align:center;
  }
  
  
  .textoVideo h4 {
    margin-top: 80px;
    text-transform: uppercase;
    font-size: 30px;
  }
  
  .textoVideo p {
    line-height: 25px;
    margin-top: 20px;
    font-size: 14px;
    color:#757474;
  }
  
  .textoVideo button {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    color: white;
    border: none;
    background-color: #2cb999;
    padding: 20px;
    width: 200px;
    margin-top: 38px;
  }
  
  .textoVideo button:hover {
    cursor: pointer;
    opacity: 0.8;
  }
  
  .video {
    width: 50%;
    height: 100%;
  } */
  
  
  
  .alinharVideo {
    display: flex;
  }
  
  .container {
    width: 100%;
    height: 100%;
    
    margin-bottom: 60px;
  }
  
  .titulo {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
    text-align: center;
    align-items: center;
  }
  
  .titulo h3 {
    text-transform: uppercase;
    font-size: 48px;
  }
  
  .titulo p {
    color:#757474;
    line-height: 30px;
  }
  
  .titulo hr {
    width: 25%;
    margin: auto;
  }
  .containerVideo {
    display: flex;
    margin-top: 25px;
  }
  
  .textoVideo {
    margin-left: 400px;
    width: 50%;
    height: 100%;
  }
  
  .textoVideo h4 {
    margin-top: 80px;
    text-transform: uppercase;
    font-size: 30px;
  }
  
  .textoVideo p {
    line-height: 25px;
    margin-top: 20px;
    font-size: 14px;
    color:#757474;
  }
  
  .textoVideo button {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    color: white;
    border: none;
    background-color: #2cb999;
    padding: 20px;
    width: 200px;
    margin-top: 38px;
  }
  
  .textoVideo button:hover {
    cursor: pointer;
    opacity: 0.8;
  }
  
  .video {
    width: 50%;
    margin-left: 20px;
    margin-right: 400px;
    display: block;
    height: 400px;
  }
  
  section{
    display: flex;
    width: 100%;
    height: 350px;
    background-color: #171717;
    align-items: center;
    justify-content: center;
  }
  section .fileira{
    width: 100%;
    display: flex;
    height: 150px;
    justify-content: center;
  }
  
  .fileira .icons{
    display: flex;
    width: 500px;
    height: 100px;
  }
  
  dl{
    display: flex;
    text-align: center;
    align-items: center;
  }
  
  dt img{
    width: 70px;
    height: 70px;
  }
  
  dd{
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    text-align:left;
    margin: 25px;
  }
  
  #numero{
    font-size: 30px;
  }
  dd:hover{
    cursor: pointer;
    color: #2cb999;
  }
  
  /*FOOTER*/
  footer{
    background-color: black;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .containerFooter {
    height: 100%;
    display: flex;
    width: 30%;
    margin-right: 300px;
  }
  
  .footerTexto{
    display: flex;
    margin-top: 38px;
    
  } 
  .footerTexto a {
    font-size: 50px;
    color: white;
    text-decoration: none;
  }
  
  .footerTexto a:hover {
    color: #2cb999;
  }
  
  .footerTexto p{
    margin-top: 30px;
    color: white;
  }
  
  .redes{
    margin-top: 12px;
    height: 30px;
  }
  
  .redes img{
    margin-right: 20px;
    width: 40px;
    border-radius: 50%;
  }
  
  .redes img:hover {
    background-color: #2cb999;
    border-radius: 100%;
  }
  
  .cardIcones button:hover {
    cursor: pointer;
    background-color: #2cb999;
    opacity: 0.8;
  }